/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)'
   RESET CSS TO 0
*/
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff"), url("../fonts/montserrat-v25-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v25-latin-900.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-900.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-900.woff") format("woff"), url("../fonts/montserrat-v25-latin-900.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-900.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quicksand-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/quicksand-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-v30-latin-regular.woff2") format("woff2"), url("../fonts/quicksand-v30-latin-regular.woff") format("woff"), url("../fonts/quicksand-v30-latin-regular.ttf") format("truetype"), url("../fonts/quicksand-v30-latin-regular.svg#Quicksand") format("svg"); /* Legacy iOS */
}
/* quicksand-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/quicksand-v30-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/quicksand-v30-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-v30-latin-600.woff2") format("woff2"), url("../fonts/quicksand-v30-latin-600.woff") format("woff"), url("../fonts/quicksand-v30-latin-600.ttf") format("truetype"), url("../fonts/quicksand-v30-latin-600.svg#Quicksand") format("svg"); /* Legacy iOS */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* DESIGN PALETTE */
/* VARIABLES */
/* TYPOGRAPHY */
html {
  font-size: 10px;
  background-color: #F2E8D5;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  padding-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
}

h2 {
  margin-top: 10rem;
  font-size: 3.5rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.6rem;
  padding: 1rem;
}

p {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #5A5A5A;
  padding: 2rem;
}

span {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  padding: 0 2rem;
  text-transform: uppercase;
  color: #F2E8D5;
  display: block;
  width: 100%;
}

ul, a, a:visited {
  font-family: "Quicksand", sans-serif;
  text-decoration: none !important;
  color: #000000;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 5rem;
}

figcaption {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  color: #000000;
  text-align: center;
}

/* FORMS */
form {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

form div {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 0.6rem;
  color: #5A5A5A;
  display: inline;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  margin: 2rem 0;
  border-radius: 0px;
  border-bottom: 1px solid #212121 !important;
  resize: none;
  border-width: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  line-height: 1.2rem;
}

textarea {
  line-height: 2.2rem;
}

input:active, textarea:active, input:focus, textarea:focus, input:focus-visible, textarea:focus-visible {
  outline: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
}

input::placeholder, textarea::placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
}

label {
  font-family: "Quicksand", sans-serif;
  color: #5A5A5A;
  font-size: 1.8rem;
  padding-right: 2rem;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  border-radius: 0px;
  border: 2px solid #212121;
  color: #212121;
  padding: 0.6rem 1rem;
  width: 120px;
  background-color: #F2E8D5;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.4s ease;
}

button:hover {
  cursor: pointer;
  background-color: #5A5A5A;
  color: white;
}

/* MEDIA */
img {
  display: block;
}

/* LANDING PAGE */
.landing-section {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: #F2E8D5 url("img/large/landing_bg.jpeg") no-repeat center center;
  background-size: cover;
}

.background-img {
  float: left;
  z-index: -100;
}

.background-img img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.heading-text {
  position: relative;
  top: 50vh;
  font-weight: 900;
  text-transform: uppercase;
  color: #F2E8D5;
}

/* NAVBAR */
/* Style the navigation menu */
.top-nav {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  background-color: #F2E8D5;
}

.top-nav span {
  font-size: 2.5rem;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.top-nav #myLinks {
  display: block;
  background: #F2E8D5;
  height: 0px;
  transition: all 0.4s;
  padding-top: 50px;
}

.reveal {
  height: 350px !important;
}

/* Style navigation menu links */
.top-nav a {
  color: #000000;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
}

/* Style the hamburger menu */
.top-nav a.icon {
  background: #F2E8D5;
  color: #000000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 0px;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #F2E8D5;
  color: #000000;
  text-align: center;
  opacity: 0;
  height: 100%;
}

/* TRIBUTE SECTION */
.portrait-section img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5rem 2rem 1rem 2rem;
  margin: 0 auto;
}

/* BIO SECTION */
.divider {
  width: auto;
  height: auto;
}

.circle {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #212121;
  border-radius: 100px;
  position: relative;
  margin: 0 auto;
}

.circle h5 {
  position: relative;
  bottom: 20px;
  left: 10px;
}

.vertical-line {
  width: 2px;
  height: 80px;
  background: #212121;
  margin: 0 auto;
}

/* PROJECTS SECTION */
.project-item {
  width: 100vw;
  border: 0px solid transparent;
  transition: border-width 0.4s ease;
  box-sizing: border-box;
}

.project-item img {
  width: 100%;
}

.img-overlay {
  transition: 0.5s ease;
  text-align: center;
}

.overlay-text {
  display: block;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #5A5A5A;
  text-align: center;
  padding: 1rem 2rem;
  background: transparent;
  margin: 2rem auto;
}

.span-cap {
  color: #5A5A5A;
  padding: 0;
  line-height: 2rem;
  font-weight: bold;
}

/* PEOPLE SECTION */
.container {
  width: 100%;
}

.slide-container {
  margin: 0 8rem;
  overflow: hidden;
}

.name-job {
  padding: 2rem 0;
}

.card {
  background-color: #fff;
  align-items: center;
}

.card-wrapper {
  display: flex;
}

.card .image-box {
  height: 100%;
}

.card .image-box img {
  height: 100%;
  width: 100%;
}

.card .profile-details {
  display: flex;
  align-items: center;
}

.swiper-navBtn {
  color: #212121 !important;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 1rem;
}

.swiper-pagination-bullet {
  background-color: #000;
  padding: 0;
  border-radius: 50%;
}

/* FOOTER */
.footer-nav {
  background: #212121;
  background-size: cover;
  height: 100%;
}

.footer-text {
  color: #F2E8D5;
}

.footer-social {
  padding: 4rem 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.footer-nav i {
  display: block;
  color: #F2E8D5;
  font-size: 30px;
}

/* Devices larger than 600px */
@media (min-width: 600px) {
  h1, h2, h3, h4 {
    padding: 2rem 10rem;
  }
  p {
    padding: 2rem 10rem;
  }
  .project-item {
    width: 80vw;
    margin: 0 auto;
  }
  .project-item:hover {
    border: 2rem solid #F2E8D5;
  }
  .project-item img:hover {
    filter: grayscale(0%);
  }
  .project-item img {
    filter: grayscale(100%);
  }
  .project-item:hover .img-overlay {
    opacity: 1;
  }
  .container {
    max-width: 60vw;
  }
  form {
    padding: 2rem 10rem;
  }
  span {
    padding: 2rem 10rem;
  }
  .footer-social {
    margin: 0 auto;
    justify-content: flex-start;
    width: 100%;
    padding: 2rem 10rem;
  }
  .footer-social li {
    padding-right: 4rem;
  }
}
/* Devices larger than 1200px */
@media (min-width: 1200px) {
  h1, h2, h3, h4 {
    padding: 6rem 20rem;
  }
  p {
    padding: 6rem 20rem;
  }
  span {
    font-size: 2rem;
  }
  section {
    max-width: 70%;
    margin: 0 auto;
  }
  .project-item {
    width: 50vw;
  }
  .people-grid {
    max-width: 50vw;
    padding: 0;
  }
  .people-item {
    box-sizing: border-box;
    padding: 0 20px;
    min-width: 400px;
  }
  .people-item .img-overlay {
    opacity: 0;
    position: relative;
    bottom: 50%;
  }
  form {
    max-width: 70%;
    margin: 0 auto;
  }
  .footer-text {
    padding-bottom: 2rem;
  }
  .footer-content {
    padding: 2rem 20rem;
  }
  footer span {
    font-size: 1.6rem;
    padding: 2rem 0;
  }
  .footer-social {
    padding: 2rem 0;
  }
}/*# sourceMappingURL=style.css.map */